html {
    font-family: Arial,sans-serif,Consolas,GillSans, Calibri, Trebuchet;
}

body {
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
    /*overflow-x: hidden;*/
}

main {
    /*flex: 1 0 auto;*/
}

code{
    font-family:Consolas, sans-serif;
}

.wrap{
    position: relative;
}

/* PC 横屏 */
@media screen and (min-device-width: 992px) {
    body {
        max-height: 100vh;
        overflow: hidden;
    }
    .wrap{
        height: calc(100vh - 65px);
        overflow-y: auto;
    }
    .wrap>.content-center{
        width: 70%;
        margin: 0 auto;
    }
    nav .brand-logo{
        padding:0 1rem;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    html{
        /*height: 100vh;*/
    }
}